main {
    width: 100%;
}

.bg-pages {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 86vh;
    place-items: center;
    place-content: center;
    padding: 20px 0;
}

.bg-videos-pages {
    background-image: url(../../../public/imgs/background-videospage.png);
}

.bg-images-pages {
    background-image: url(../../../public/imgs/background-imagespage.png);
}

.bg-songs-pages {
    background-image: url(../../../public/imgs/background-songspage.png);
}